@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
  font-family: "Nunito";
  font-size: 16px;
  background-color: #f5f5f5;
}

.nav {
  border-bottom: thin solid #969696;
  margin: 0px;
  height: 80px;
}
.cover {
  min-height: calc(100vh - 80px);
  padding: 10px 15%;
  flex-wrap: wrap;
  gap: 30px;
}
.cover-text {
  width: 500px;
}
.cover h1 {
  font-size: 6rem;
  font-weight: lighter;
  color: #dd502d;
  position: relative;
}
.cover h1 span {
  color: #000;
}

.cover-img {
  position: relative;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  box-shadow: 0px 0px 5px black;
  width: 350px;
  height: 550px;
  background-color: #0c0c0c;
}
.cover-img img {
  width: 350px;
  height: 500px;
  object-fit: contain;
}

.cover-img::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: inherit;
  border: 2px solid #dd502d;
}

.img-container {
  position: relative;
}
.img-container .fav-icon {
  position: absolute;
  padding: 0px;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 30px;
}
.fav-icon img {
  height: 100%;
  cursor: pointer;
}
.fav-icon p {
  background-color: #dd502d;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}